@mixin font-variables {
  --font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-base: var(--bs-font-sans-serif);

  --font-size-root: null; // effects the value of `rem`, which is used for as well font sizes, paddings and margins
  --font-size-base: 1rem; // effects the font size of the body text and assumes the browser default, typically `16px`
  --font-size-sm: calc(var(--font-size-base) * .875);
  --font-size-lg: calc(var(--font-size-base) * 1.25);

  --font-weight-lighter: lighter;
  --font-weight-light: 300;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: bolder;
}

@mixin line-height-variables {
  --line-height-base: 1.5;
  --line-height-sm: 1.25;
  --line-height-lg: 2;
}
